<div class="form-group">
  <%= form_with model: [book, post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', class:"form-control", placeholder: "コメントをここに" %>
    <%= f.submit class:"btn btn-secondary" %>
  <% end %>
</div>